<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Tv Renamr</title>
    
    <meta charset='UTF-8' />
    <!-- <link href='/stylesheets/master.css' rel='stylesheet' type='text/css' /> -->
</head>
<body id="{{ page.body_id }}">
    <div id="header">
        <div id="logo">
            
        </div>
    </div>
    
    <div id="menu">
        <ul>
            <li><a href="/install.html">Install</a></li>
            <li><a href="/usage.html">Usage</a></li>
            <li><a href="/daemon.html">Daemon</a></li>
            <li><a href="/bugs.html">Known Bugs</a></li>
            <li><a href="http://tvrenamr.lighthouseapp.com/tvrenamr">Report a bug</a></li>
        </ul>
    </div>
    
    <div id="content">
        {{ content }}
    </div>
    
    <div id="footer">
        
    </div>
</body>
</html>